@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
<h1>@ViewData["Title"]</h1>
<br />
    <p style=" text-indent: 50px;font-size:14px;">
    Projectwatch has a focus on both privacy and security. We recognize that the information being held by ProjectWatch is sensitive and it is treated as such. With user privacy and security in mind we created the following principles for ProjectWacth.
  
    We will never sell or rent your personally identifiable information to third parties for marketing purposes
    We will never share your contact information with another user without consent
    All personally identifiable information you provide will be secured using industry standard protocols and technology
    Users have the ability to change what is public but the default setting should err on the side of less public disclosure rather than more
    Personal Information Collected
    The primary method of collecting personal information is through forms and the registration process. ProjectWatch requires a large amount of personal information during the registration process in order to ensure the users information is accurate and allowing ProjectWatch to verify the information when necessary. By default, this information is not displayed, however users above the age of 18 can elect to make some of their personal information public.
</p>
</div>
